# certs generated with `make certs`
certs-0

# copied from terraform repository
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform/
.terraform_plugin_cache/
.terraform.lock.hcl
terraform.iml
saved-plan
terraform.d
*.zip
