*                              @utilitywarehouse/pubsub
/**/account-platform/          @utilitywarehouse/account-identity
/**/account-identity/          @utilitywarehouse/account-identity
/**/billing/                   @utilitywarehouse/billing-maintainers
/**/cbc/                       @utilitywarehouse/org-cashback
/**/contact-channels/          @utilitywarehouse/org-contact-channels
/**/customer-billing/          @utilitywarehouse/org-billing-experience
/**/customer-proposition/      @utilitywarehouse/org-multi-service-innovation
/**/customer-support/          @utilitywarehouse/customer-support
/**/data-infra/                @utilitywarehouse/data-infra-mono-maintainers
/**/energy-platform/           @utilitywarehouse/org-energy
/**/finance/                   @utilitywarehouse/finance-maintainers
/**/iam/                       @utilitywarehouse/account-identity
/**/iam-audit/                 @utilitywarehouse/account-identity
/**/insurance/                 @utilitywarehouse/org-insurance
/**/ledgers/                   @utilitywarehouse/ledgers
/**/otel/                      @utilitywarehouse/otel
/**/payment-platform/          @utilitywarehouse/payments-maintainers
/**/unicom/                    @utilitywarehouse/org-communications
/**/workplace-infrastructure/  @utilitywarehouse/workplace-infrastructure
